/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  
  ::selection {
    background: #000;
    color: #aaf;
  }
  .alternate ::selection {
    background: #c00;
    color: #000;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 2000px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul, li, h1, h2, h3, h4, h5, h6, p, a, .logo {
    font-family: "Lato","Verdana",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  .inner {
    width: 70%;
    position: relative;
    margin: 0 auto;
  }
  
  header {
    position: fixed;
    width: 100%;
    padding-top: 50px;
    background: #000;
    transition: 0.7s all;
    z-index: 100;
  }
  
  header.alt-header {
    background: #fff;
  }
  
  .alt-header a {
    color: #000;
  }
  
  body.header-fixed header {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 100%;
    z-index: 2;
  }
  
  li {
    list-style: none;
  }
  
  nav {
    overflow: hidden;
  }
  
  nav ul {
    float: right;
  }
  
  nav li {
    display: inline;
    float: left;
    line-height: 50px;
  }
  
  nav a {
    display: inline-blocks;
    color: #fff;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s all;
    background: rgb(0, 0, 0);
  }
  .current_page {
    color: #000000;
    background: rgb(252, 252, 252);
    font-weight : bold;
  }
  .current_page a, .current_page a:hover {
    color: #000000;
    background: rgb(252, 252, 252) !important;
  }

  .logo {
    float: left;
    color: #fff;
    font-size: 35px;
    line-height: 50px;
    transition: 0.7s all;
    margin-top:-15px;
    padding-bottom: -15px; 
}
.inactive_page {
  color: #000000;
  background: rgb(252, 252, 252);
  font-weight : bold;
}
.inactive_page a, .inactive_page a:hover {
  color: #000000;
  background: rgb(81, 0, 119);
}
  .alt-header .logo {
    color: #000;
  }
  
  body.header-fixed .logo {
    font-size: 30px;
  }
  
  .alternate {
    background: #000;
    color: #fff;
  }
  
  section .inner {
    padding-top: 200px;
  }
  