* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

.header {
  position: sticky;
  top: 0;
}

nav {
  min-height: 5rem;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.logo{
  padding: 40px;
  margin-left: 40px;
  font-size: 25px;
}
.text{
  padding-left: 15%;
  width: 70%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-size: 20px;
}
ul {
  list-style: none;
  float: right;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin-top: -70px;
  display: flex;

}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.hamburger {
  display: none;
}

/* This is three bars, shape, not icon */

.hamburger div {
  width: 25px;
  height: 3px;
  background: rgb(255, 255, 255);
  margin: 5px;
}

/* This is CSS for change color on Nav and links. */

.nav.scrolled {
  background-color: rgb(255, 255, 255) !important;
  transition: background-color 400ms linear;
}
.nav.scrolled h4 {
  color: black;
}
.nav h4 {
  color: rgb(254, 254, 254);
}
@media screen and (min-width: 993px) {
  .nav.scrolled .nav-link {
    color: rgb(0, 0, 0);
  }
}
#dropdown{
  margin-top:15px;
}
.nav ul li ul{
  margin-top: 100px;
  left:0px;
  position:absolute;
  background: color #555;
  color:#000000;
}
.nav ul li:hover > ul{
  display:block;
}
.bar.scrolled .nav-link {
  background: rgb(0, 0, 0);
}

section {
  min-height: 1000px;
  margin-left: 0px;
}
.white_section{
  background-color: #fff;
}
.black_section{
  background-color: #000000;
}

@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }

  /* background-color: rgba(0, 0, 0, 0.6); */

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 100;
    margin-left: 15rem;
  }

  ul {
    background: rgb(128, 128, 128);
    flex-direction: column;
    justify-content: center;

    /* align-items: flex-start; */

    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  ul li {
    opacity: 0;
    margin-bottom: 2rem;
  }
  .opened {
    transform: translateX(0%);
  }

  #bar-1,
  #bar-2,
  #bar-3 {
    transition: all 0.3s ease;
  }
  .toggle #bar-1 {
    /* background: rgb(0, 0, 0); */
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle #bar-2 {
    opacity: 0;
  }
  .toggle #bar-3 {
    /* background: rgb(0, 0, 0); */
    transform: rotate(45deg) translate(-5px, -6px);
  }
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 768px) {
  ul {
    background: rgb(92, 5, 5);
    flex-direction: column;
    justify-content: center;

    /* align-items: flex-start; */

    position: absolute;
    top: 0;
    height: 100vh;
    right: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  ul li {
    opacity: 0;
    margin-bottom: 2rem;
  }
}